/*! pizza.css */

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  color: #fff;
  font-size: 72px;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}

h2, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

nav ul {
  margin: 0;
  display: block;
  background-color: #000;
}

nav ul ul {
  background-color: #999;
  display: none;
}

nav li {
  display: inline;
  font-size: 16px;
}

nav > ul > li:nth-child(2):hover ul {
  display: block;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  color: #fff;
  text-decoration: underline;
}

th {
  background-color: #ddd;
}

td:first-child,
th:first-child {
    padding-left: 15px;
}

.bg-image {
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image--01 {
  background-image: url(../images/pizza-01.jpg);
  background-position: center bottom;
}

.bg-image--02 {
  background-image: url(../images/pizza-02.jpg);
  background-position: center bottom;
}

.content,
.location {
  display: none;
}

.show {
  display: block;
}

.list--unstyled {
  list-style: none;
}
